# Python virtual environment
backend-venv/

# Node.js dependencies
frontend/node_modules/

# Django migrations
backend/**/*.pyc
backend/**/*.pyo
backend/__pycache__/
backend/db.sqlite3
backend/test_db.sqlite3

.env